{% extends "base.html" %}
{% block content %}

<div class="container">
  {%- for category, message in get_flashed_messages(with_categories = true) %}
  <div class = "alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}
</div>

<section id="lgoin-page-wrap" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-8 m-auto">
        <div class="login-page-content">
          <div class="login-form">
            <h3>Sign Up</h3>
            <form action="{{ url_for('adminreg') }}" method = "POST">
              <div class="name">
                <div class="row">
                  <div class="col-md-6">

                    <input type="text" name="fname" id="fname" placeholder="First Name" />
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="lname" id="lname" placeholder="Last Name" />
                  </div>
                </div>
              </div>
              <div class="username">
                <input type="text" placeholder="uname" name="uname" id="uname">
              </div>
              Gender:
              <input name="gender" type="radio" id="gm" value="male" />
              <label for="gm">Male</label>
              <input name="gender" type="radio" id="gf" value="female" />
              <label for="gf">Female</label>
              <div class="age">
                <input type="text" placeholder="Age" name="age" id="age">
              </div>
              <div class="Email">
                <input type="text" placeholder="Email" name="email" id="email">
              </div>
              <div class="phone">
                <input type="text" placeholder="Phone" name="phone" id="phone">
              </div>

              <div class="password">
                <input type="password" placeholder="Password" name="pwd" id="pwd">
              </div>
              <div class="address">
                <input type="text" placeholder="Address" name="address" id="address">
              </div>
              <div class="log-btn">
                <button type="submit"><i class="fa fa-check-square"></i> Sign Up</button>
              </div>
            </form>
          </div>


          <div class="create-ac">
            <p>Have an account? <a href="alogin">Sign In</a></p>
          </div>
          <div class="login-menu">
            <a href="about.html">About</a>
            <span>|</span>
            <a href="contact.html">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
