{% extends "base2.html" %}
{% block content %}

<div class="container">
  {%- for category, message in get_flashed_messages(with_categories = true) %}
  <div class = "alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="car-list-content">
        <div class="row">
          {% for row in records %}
          <div class="col-lg-6 col-md-6"  style="background-image: url('../static/assets/img/car/{{row[8]}}.jpg'); background-size: 400px 300px;background-repeat: no-repeat; background-position: right 15px top 20px">
              <div class="single-car-wrap">
                <div class="car-list-thumb car-thumb-1"></div>
                <div class="car-list-info without-bar">
                  <h2><a href="#">{{row[1]}}</a></h2>
                  <h5>{{row[5]}} $ Rent /per a day</h5>
                  <ul class="car-info-list">
                    <li>AC</li>
                    <li>Gas</li>
                    <li>Auto</li>
                  </ul>
                  <button type="button" class="rent-btn" data-toggle="modal" data-target="#modeledit{{row[0]}}">Book Car</button>
                  <div class="modal fade" id="modeledit{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Make reservation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="" action="{{url_for('reservation')}}" method="POST">
                            <div class="form-group">
                              <label>User Name:</label>
                              <input type="text" class="form-control" name="uname" value="{{uname}}" readonly>
                            </div>
                            <div class="form-group">
                              <input type="hidden" name="vid" value="{{row[0]}}">
                              <input type="hidden" name="start_date" value="{{start_date}}">
                              <input type="hidden" name="end_date" value="{{end_date}}">
                              <label>car model:</label>
                              <input type="text" class="form-control" name="model" value="{{row[1]}}" readonly>
                            </div>
                            <div class="form-group">
                              <label>Seating Capacity:</label>
                              <input type="text" class="form-control" name="seating" value="{{row[3]}}" readonly>
                            </div>
                            <div class="form-group">
                              <label>price per day:</label>
                              <input type="text" class="form-control" name="priceperday" value="{{row[5]}}" readonly>
                            </div>
                            <div class="form-group">
                              <label>Pick-up Location:</label>
                              <input type="text" class="form-control" name="location" value="{{row[7]}}" readonly>
                            </div>
                            <div class="form-group">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button class="btn btn-primary" type="submit">Confirm Booking</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
