{% extends "baseadmin.html" %}
{% block content %}

<div class="container" style="align-content: center">
  <div class="col-lg-12 col-md-12">
    <div class="single-footer-widget text-center">
      <h2>Admin Manage features</h2>
      <div class="widget-body" style="align-content: center !important;">
        <ul class="recent-post">
          <li>
            <a href="{{ url_for('listcustomer') }}">
              <h3 style="color: rgb(255,208,0)">
                Manage Customers
              </h3>

              <i class="fa fa-long-arrow-right"></i>
            </a>
          </li>
          <li>
            <a href="{{ url_for('listcars') }}">
              <h3 style="color: rgb(255,208,0)">
                Manage Cars
              </h3>

              <i class="fa fa-long-arrow-right"></i>
            </a>
          </li>
          <li>
            <a href="findallreservation">
              <h3 style="color: rgb(255,208,0)">
                Manage Bookings
              </h3>
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </li>
          <li>
            <a href="{{ url_for('listadmin') }}">
              <h3 style="color: rgb(255,208,0)">
                Manage Admins
              </h3>
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
